@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-light-green: #f9fcfa;
	--color-violet: #3e2f5b;
	--color-grass: #90ca95;
	--bg-color: var(--color-light-green);

	color: var(--color-violet);
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
}

p {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/*
    bg-<color>: Background color
 */

/* .bg-grass {
	background-color: var(--color-grass);
}

.bg-light-green {
	background-color: var(--color-light-green);
} */

.bg-hero {
	background: linear-gradient(
		0deg,
		var(--color-grass) 0%,
		var(--color-grass) 30%,
		var(--bg-color) 30%
	);
}

/*
    text-<color>: Text color
*/

/* .text-grass {
	color: var(--color-grass);
}

.text-violet {
	color: var(--color-violet);
}

.text-light-green {
	color: var(--color-light-green);
} */

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 
*/

.alegreya-regular {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.alegreya-semibold {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.alegreya-bold {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.noto-serif-regular {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.noto-serif-semibold {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.noto-serif-semibold {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.noto-serif-bold {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}